<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Félicitations <%= @user.first_name %> pour ton inscription à l'event <%= @event.title %>. !</h1>
    <p>
      C'est event commencera à <%= @event.start_date %> pour une durée de <%= @event.duration %> minutes.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur majestical-eventbrite.herokuapp.com !
  </body>
</html>